@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: aqua;
    color:#000;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    margin: 20px;
}
h2{
    color: darkblue;
    text-align: left;
    font-size: 1rem;
}
header{
    color: darkblue;
    text-align: center;
}
img{
    max-width: 50%;
    height: 10%;
    border-radius: 12PX;
    border: 1px solid #1e293b;
    margin-bottom: 14px;
}
footer{
    text-align: center;
    font-size: 14px;
    color: darkblue;
}